<div class='author-to-middle'><h1><b><%= @author.name %></b></h1></div>
<div class='button-to-middle'>
  <%= button_to "Delete", author_path(@author.id), method: :delete, class: 'button delete-button' %>
</div>
<% @books.each do |book| %>
<div class='book' id='book-<%= book.id %>'>
  <h3><a href='<%= book_path(book.id) %>'><%= book.title %></a></h3>
  <% if book.has_many_authors? %>
    <h4>Additional Authors:</h4>
    <% end %>
  <% book.authors.each do |author|%>
    <% if author.name != @author.name %>
      <h4><%= author.name %></h4>
    <% end %>
  <% end %>
  <h4>Publication year: <%= book.year %></h4>
  <h4>Number of Pages: <%= book.pages %></h4>
  <% if book.has_reviews? %>
  <h4>Top Review: </h4>
  <h5>Title: <%= book.top_review.title %></h5>
  <h5>Rating: <%= book.top_review.rating %></h5>
  <h5>User: <a href='<%= user_path(book.top_review.user.id) %>'><%= book.top_review.user.username %></a></h5>
  <% else %>
  <h4>Be the first to rate this book!</h4>
  <% end %>
</div>
<% end %>
