<% @books.each do |book| %>
<div class='book' id="book-<%= book.id %>"
  <h3><a href="<%= book_path(book.id) %>"><%= book.title %></a></h3>
  <% book.authors.each do |author| %>
  <h4><a href="<%= author_path(author.id) %>"><%= author.name %></a></h4>
  <% end %>
  <h4>Pages: <%= book.pages %></h4>
  <h4>Year: <%= book.year %></h4>
  <h4>Total reviews: <%= book.review_count %></h4>
  <h4>Average rating: <%= book.average_rating %></h4>
</div>
<% end %>
