<h4><a href='<%= new_book_path %>'>Add New Book</a></h4>
<%= link_to "Average rating high to low", books_path(sort: 'arhtl') %>
<%= link_to "Average rating low to high", books_path(sort: 'arlth') %>
<%= link_to "Number of pages high to low", books_path(sort: 'nophtl') %>
<%= link_to "Number of pages low to high", books_path(sort: 'noplth') %>
<%= link_to "Number of reviews most to least", books_path(sort: 'normtl') %>
<%= link_to "Number of reviews least to most", books_path(sort: 'norltm') %>
<div>
<h2>Book Statistics:</h2>
<% @books_top_books.each do |book| %>
  <div class="top-3-books">
  <h3><%= book.average_rating %> 
  <%= book.title %></h3>
  </div>
<% end %>
<% @books_bottom_books.each do |book| %>
  <div class="bottom-3-books">
  <h3><%= book.average_rating %>
  <%= book.title %></h3>
  </div>
<% end %>

<% @users_most_reviews.each do |user| %>
  <div class="most-reviews">
  <h3><%= user.username %>
  <%= user.review_count %></h3>
  </div>
<% end %>
</div>

<% @books.each do |book| %>
<div class='book' id="book-<%= book.id %>"
  <h3>Title: <a href="<%= book_path(book.id) %>"><%= book.title %></a></h3>
  <h4>Author(s): </h4>
  <% book.authors.each do |author| %>
  <h4><a href="<%= author_path(author.id) %>"><%= author.name %></a></h4>
  <% end %>
  <h4>Pages: <%= book.pages %></h4>
  <h4>Year: <%= book.year %></h4>
  <h4>Total reviews: <%= book.review_count %></h4>
  <h4>Average rating: <%= book.average_rating %></h4>
</div>
<% end %>
<h4><a href='<%= new_book_path %>'>Add a New Book</a></h4>
