<div class='bookshow' id="book-<%= @book.id %>">
  <h1><%= @book.title %></h1>
  <h3>Authors:</h3>
  <% @book.authors.each do |author| %>
  <h2><a href="<%= author_path(author.id) %>"><%= author.name %></a></h2>
  <% end %>
  <h3>Pages: <%= @book.pages %></h3>
  <h3>Year: <%= @book.year %></h3>
  <h2>Statistics:</h2>
  <h3>Total reviews: <%= @book.review_count %></h3>
  <h3>Average rating: <%= @book.average_rating %></h3>
  <div class='button-to-middle'>
    <%= button_to "Delete", book_path(@book.id), method: :delete, class: 'button delete-button' %>
  </div>
  <div class='newbook'>
    <h4><a href='<%= new_book_review_path(@book.id) %>'>Add Review</a></h4>
  </div>
</div>
  <h3>Top 3 reviews: </h3>
  <div class="top-review" id="top-review-<%= @book.id %>">
    <% @book.top_reviews.each do |review| %>
    <div class='review'>
    <h4>Review Title: <%= review.title %></h4>
    <h4>Review User: <%= link_to "#{review.user.username}", user_path(review.user.id) %></h4>
    <h4>Review Rating: <%= review.rating %></h4>
    </div>
    <% end %>
  </div>
  <h3>Bottom 3 reviews:</h3>
  <div class="bottom-review" id="bottom-review-<%= @book.id %>">
    <% @book.bottom_reviews.each do |review| %>
    <div class='review'>
    <h4>Review Title: <%= review.title %></h4>
    <h4>Review User: <%= link_to "#{review.user.username}", user_path(review.user.id) %></h4>
    <h4>Review Rating: <%= review.rating %></h4>
    </div>
    <% end %>
  </div>
</div>
<h1><b>All reviews:</b></h1>
  <% @book.reviews.each do |review| %>
  <div class="review" id="review-<%= review.id %>">
  <h4><b>Review Title:</b> <%= review.title %></h4>
  <h4><b>Review User:</b> <%= link_to "#{review.user.username}", user_path(review.user.id) %></h4>
  <h4><b>Review Rating:</b> <%= review.rating %></h4>
  <p><b>Review:</b> <%= review.description %></p>
  </div>
  <% end %>
