<div id="book-<%= @book.id %>">
  <h3><%= @book.title %></h3>
  <h4>Authors:</h4>
  <% @book.authors.each do |author| %>
  <h5><a href="<%= author_path(author.id) %>"><%= author.name %></a></h5>
  <% end %>
  <h5>Pages: <%= @book.pages %></h5>
  <h5>Year: <%= @book.year %></h5>
  <h5>Total reviews: <%= @book.review_count %></h5>
  <h5>Average rating: <%= @book.average_rating %></h5>
</div>
<%= button_to "Delete", book_path(@book.id), method: :delete %>

<h4><a href='<%= new_book_review_path(@book.id) %>'>Add Review</a></h4>
  <% @reviews.each do |review| %>
  <div class="review" id="review-<%= review.id %>">
  <h4>Review Title: <%= review.title %></h4>
  <h4>Review User: <%= link_to "#{review.user.username}", user_path(review.user.id) %></h4>
  <h4>Review Rating: <%= review.rating %></h4>
  <p>Review: <%= review.description %></p>
  </div>
  <% end %>
